<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/tocreate.css">
  <title>일기 작성하기</title>

</head>
<script>
  // 일기 작성 nickname 받아와서 저장하기 부터 
  function post() {
    let name = $('#name').val()
    let comment = $('#comment').val()
    let nickname = '{{isLogin}}'

    $.ajax({
      type: "POST",
      url: "/create",
      data: {
        title: title,
        comment: comment
      },
      success: function(response) {
        if (response['msgnot']) {
          alert(response['msgnot'])
        } else {
          alert(response["msg"])
          window.open('', '_self').close();
          opener.parent.location.reload();
        }
      }
    });
  }
</script>

<body>

  <div class="main">
    <div class="box">
      <div>
        <input type="text" placeholder="제목" class="name form-control" id="name">
      </div>
      <div class="commentBox">
        <textarea class="commentBox form-control" placeholder="오늘 하루를 이야기 해주세요" id="comment"></textarea>
      </div>
      <a onclick="post()">작성하기</a>
    </div>
  </div>



</body>

</html>