@import "reset";

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
  form {
    div {
      margin-top: 10px;
      input {
        border-radius: 10px;
      }
      textarea {
        border-radius: 10px;
      }
    }
  }
}
